.signInPage{
    width: 100%;
    height: 100vh;
}
.signInPage .story{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}
 .signInPage .story .head{
    padding: 3% 5% 0%;
    height: 9%;
 }
 .signInPage .story .head .headLogo{
     height: 85%;
     width: 20%;
 }
 .signInContent{
    height: 85%;
 }
 .signInContent .content-inside{
    width: 35%;
    height: 100%;
    
    margin-left: 30%;
    background: rgba(0,0,0,0.8);
 }
 .content-inside .signInForm{
     
    height: 87%;
    padding: 10% 15% 4%;
    width: 70%;
    display: flex;
    flex-direction: column;
    }
.signInForm .formHead{
    height: 15%;
}
.formHead h1{
    color: white;
}
.signInForm .formFill{
    height: 65%;
    display: flex;
}
.formFill .formContent{
    display: flex;
}
.formInput{
    width: 100%;
    height: 20%;
    background-color: rgb(68, 66, 66);
    border: none;
    color: white;
    margin-bottom: 5%;
    border-radius: 3px;
    font-size: 100%;
    padding-left: 2%;
}
.formInput::placeholder{
    color: white;
    font-size: medium;
}

.formSubmit{
    align-items: center;
    width: 100%;
    height: 17%;
    margin-top: 15%;
    background-color: darkred;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}
.formSubmit:hover{
    cursor: pointer;
}
.signInForm .signUpWay,.formFoot{
    height: 10%;
    color: grey;
    display: flex;
}
.signInForm .signUpWay p{
    width: fit-content;
    margin-right: 1%;
}
.signInForm .signUpWay  h3{
    color: white;
    font-size: 100%;
    width: fit-content;
}
.signInForm .signUpWay  h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.formFoot p{
    font-size: 75%;
}
@media screen and (max-width: 500px){
    .signInPage .backgroundImage{
        display: none;
    }
    .signInPage .story .head .headLogo {
        height: 40%;
        width: 15%;
        padding-top: 3%;
    }
    .signInContent .content-inside {
        width: 100%;
        margin-left: 0%;
    }
    .content-inside .signInForm {
        padding: 10% 5% 4%;
        width: 90%;
    }
    .formInput{
        height: 15%;
    }
    .formSubmit{
        height: 15%;
        font-size: large;
    }
    .signInForm .formFill {

    height: 55%;
    }

}

