.landingPage{
    width: 100%;
    height: auto;
    background-color: grey;
}
.first{
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-bottom: 0.5%;
}
 .backgroundImage{
    width: 100%;
    height: 100%;
    position: absolute;

}
.first .story{
    width: 100%;
    height: 100%;
    background: radial-gradient( transparent, black);
    top: 0;
    position: absolute;
}

.head{
    height: 12%;  
    
}
.headContent{
    height: 60%;
    padding-top: 2%;
    margin: 0px 5%;
    display: flex;
}
.headLogo{
    display: inline-block;
    height: 70%;
    width: 15%;
    margin-right: 55%;
}
.headImg{
    height: 100%;
    width: 75%;
}
.headLang{
    display: inline-block;
    height: 70%;
    width: 10%;
    margin: 0 5%;
    border: 1px white;
    border-style: solid;
}

.headLang i{
    color: white;
    padding: 6% 8%;
}
.headLang .Lang{
    color: white;
}
.headSign{
    display: inline-block;
    height: 70%;
    width: 10%;
}
.headSign .signIn{
    width: 85%;
    height: 110%;
    color: white;
    background-color: rgb(175, 8, 8);
    border-style: hidden;
    font-size: 100%;
    font-weight: bolder;
    border-radius: 5%;
}


.first .story .content{
    height: 88%;
    width: 100%;
}

.first .story .content .content-inside{
    width: 50%;
    height: 52%;
    padding: 12% 25% 0%;
    display: flex;
    flex-direction: column;
}
.content-inside .title{
    width: 100%;
    height: 85%;
    text-align: center;
}
.content-inside .title h1{
    color: white;
    font-size: 350%;
}
.content-inside .title .subTitle1{
color: white;
font-size: 165%;
padding-top: 3%;
}
.content-inside .title .subTitle2{
color: white;
font-size: 110%;
padding-top: 4%;
}
.content-inside .form{
    width: 100%;
    height: 15%;
}
.form .contentForm{
    height: 100%;
    display: flex;
}
.content-inside .form .inputEmail{
    height: 100%;
    width: 65%;
}
.content-inside .form .formButton{
    height: 110%;
    width: 34%;
    color: white;
    background-color: red;
    font-size: 140%;
    font-weight: bolder;
    border-style: solid;
}
.second{
    height: 75vh;
    background-color: black;
    margin-bottom: 0.5%;
}
.secContent{
    width: 90%;
    height: 70%;
    padding: 5% 5%;
    display: flex;
}
.contentMain{
    width: 50%;
    height: 100%;
    color: white;
}
.contentMain h1{
    font-size: 330%;
    padding: 10% 0% 5% 5%;
}
.contentMain h3{
    font-weight: 400;
    padding-left: 5%;
}
.contentImage{
    width: 50%;
    height: 100%;
}
.contentImage img{
    height: max-content;
}
.third{
    width: 100%;
    height: auto;
    background-color: black;
    margin-bottom: 0.5%;
}
.thirdContent{
    height: auto;
    width: 60%;
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
}
.thirdContent h1{
    color: white;
    font-size: 300%;
    text-align: center;
    margin-bottom: 5%;
}
.thirdContent .queries{
    color: white;
    background-color: rgb(39, 38, 38);
    margin: 0% 5% 1%;
    padding: 2% 0%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}
.queries h2{
    font-size: 175%;
    font-weight: normal;

}
.queries i{
    text-align: end;
    padding-right: 1%;
    font-size: 160%;
}
.thirdContent .subTitle2{
    color: white;
font-size: 110%;
padding-top: 4%;
text-align: center;
}
.thirdContent .form{
    width: 100%;
    height: 15%;
    padding-top: 2%;
}
.thirdContent .form .contentForm{
    height: 100%;
    display: flex;
}
.thirdContent .form .inputEmail{
    width: 65%;
}
.thirdContent .form .formButton{
    height: 110%;
    width: 34%;
    color: white;
    background-color: red;
    font-size: 140%;
    font-weight: bolder;
    border-style: solid;
}
.last{
    background-color: black;
    width: 100%;
    height: 60vh;
}
.lastContent{
    width: 68%;
    height: 78%;
    margin: 0 15%;
    padding: 3% 0% 1%;
    display: flex;
    flex-direction: column;
    color: grey;
}
.lastTop{
    color: grey;
    margin-bottom: 5%;
}
.lastList{
    height: 50%;
    margin-bottom: 3%;
    width: 100%;
}
.listText{
    width: 25%;
    margin: 0;
    display: inline-block;
    height: 25%;
    font-size: 80%;
}
 a:link,:visited{
     color: grey;
   text-decoration: none;
}
a:hover, :active{
     color:white; 
}
.lastLang{
    display: inline-block;
    height: 12%;
    width: 13%;
    border: 1px grey;
    border-style: solid;
    margin-bottom: 1%;
}

.lastLang i{
    color: grey;
    padding: 8% 8%;
}
.lastLang .Lang{
    color: grey;
}
.lastFoot{
    color: grey;
    font-size: small;
}
