.last{
    background-color: black;
    width: 100%;
    height: 60vh;
}
.lastContent{
    width: 68%;
    height: 78%;
    margin: 0 15%;
    padding: 3% 0% 1%;
    display: flex;
    flex-direction: column;
    color: grey;
}
.lastTop{
    color: grey;
    margin-bottom: 5%;
}
.lastList{
    height: 50%;
    margin-bottom: 3%;
    width: 100%;
}
.listText{
    width: 25%;
    margin: 0;
    display: inline-block;
    height: 25%;
    font-size: 80%;
}
 a:link,:visited{
     color: grey;
   text-decoration: none;
}
a:hover, :active{
     color:white; 
}
.lastLang{
    display: inline-block;
    height: 12%;
    width: 13%;
    border: 1px grey;
    border-style: solid;
    margin-bottom: 1%;
}
.lastLang i{
    color: grey;
    padding: 8% 8%;
}
.lastLang .Lang{
    color: grey;
}
.lastFoot{
    color: grey;
    font-size: small;
}

@media screen and (max-width: 500px){
    .last{
    height: 55vh;
}
.lastContent {
width: 80%;
margin: 0 10%;
padding-top: 10%;
height: 90%;
}
.lastContent p{
font-size: 70%;
}
.lastList{
height: 70%;
}
.lastTop{
margin-bottom: 5%;
}
.listText {
width: 50%;
height: 10%;
font-size: 65%;
}
.lastLang {
display: flex;
height: 8%;
width: 37%;
margin-bottom: 3%;
}
.lastLang i,.lastLang .Lang{
padding-top: 6%;
}}
